name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: HACS validation
        uses: "hacs/action@06827d281b9c558c46d8ed6f4aae6c517fdc19ed"
        with:
          category: "integration"

  hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@87c064c607f3c5cc673a24258d0c98d23033bfc3"
