name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: HACS validation
        uses: "hacs/action@885037da508419fd08c13515967aec868dfdee2d"
        with:
          category: "integration"

  hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@6778c32c6da322382854bd824e30fd4a4f3c20e5"
